footer { 
    background-color: rgb(15, 15, 15);

}

.footer-social {
    width: 317px;
    margin: auto;
    padding-top: 30px;
    
}
.footer-items {
    width: 317px;
    display: flex;
    justify-content: space-between;
    
}
.footer-link {
    font-size: 23px;
    
}


.fotter-information {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;

color: rgba(255, 255, 255, 0.5);
padding: 15px;

}

#fottericon {
    color: #fff;
}